*{
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    display: flex;
    background: #F3F5FC;
    width: 100vw;
}

.logo{
    padding: 0.2%;
    width: 7%;
}

main{
    position: relative;
    width: 100vw;
    height: 90vh;
    background: #F3F5FC;
}

.text-area{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;
}

.text-area::placeholder{
    color: #0a3871;
}

.text-area:focus,
.text-area:active{
    border: none;
    outline: none;
}

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
}

.information p{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.btns{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
}

.btn-encriptar{
        background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
        margin: 10px;
        width: 25%;
        border: none;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        cursor: pointer;
      }

      .btn-encriptar:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }

.btn-desencriptar{
        background-image: linear-gradient(to right, #1F1C2C 0%, #928DAB  51%, #1F1C2C  100%);
        margin: 10px;
        width: 25%;
        border: none;
        padding: 15px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;            
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;
        cursor: pointer;
      }

      .btn-desencriptar:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
     
.section-2{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.mensaje-encriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.mensaje-encriptado h2{
    width: 60%;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mensaje-encriptado p{
    width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #405057;
}

.section-2 img{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

.btn-copiar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 88%;
}

.copy{
    background-image: linear-gradient(to right, #16222A 0%, #3A6073  51%, #16222A  100%);
    margin: 10px;
    width: 50%;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    display: none;
  }

  .copy:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


/* Responsive desing */
@media (max-width: 57.5em){
    main{
        display: flex;
        flex-direction: row;
    }
    .section-1{
        width: 100%;
    }
    .text-area{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .information{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .information p{
        font-size: 16px;
    }
    .btns{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar, .btn-desencriptar{
        width: 48%;
        border-radius: 10px;
    }
    .section-2{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;
    }
    .mensaje-encriptado{
        width: 100%;
        top: 5%;
    }
    .section-2 img{
        top: 0;
        display: none;
        visibility: hidden;
    }
}